/* Baloo Bhai font */
@font-face {
	src: url("../../font/BalooBhai/BalooBhai-Regular.ttf");
}

/*Roboto font */
@font-face {
 	src: url("../../font/Roboto/Roboto-Regular.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Bold.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Light.ttf");
}
 
 
.label {
	
	-fx-text-fill: black;
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 24px;
}

.label-number {
	
	-fx-text-fill: black;
	-fx-font-family: "Roboto";
	-fx-font-size: 22px;
}

.button:hover{
	-fx-cursor: hand;
	-fx-background-color: #CFCFCF;
}

.button-add {
	-fx-pref-height: 43;
	-fx-pref-width: 253;
	
	-fx-background-color: #F0F0F2;
	-fx-background-radius: 14px;
	
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 1);
}