/* Baloo Bhai font */
@font-face {
	src: url("../../font/BalooBhai/BalooBhai-Regular.ttf");
}

/*Roboto font */
@font-face {
 	src: url("../../font/Roboto/Roboto-Regular.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Bold.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Light.ttf");
}

.root {
	-fx-background-color: white;
}

.pane {
	-fx-background-color: #E5E5EB;
	-fx-background-radius: 14px;
}

.anchor-pane-lesson {
	-fx-background-color: #E5E5EB;
	-fx-background-radius: 14px;
	
	-fx-pref-width: 620;
	-fx-pref-height: 80;
}

.label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 24;
	-fx-text-fill: #0C0B0B;
}

.pane-mainlabel {
	-fx-font-size: 36;
}

.pane-otherlabel {
	-fx-font-family: "Roboto";
	-fx-font-weight: normal;
	-fx-font-size: 18;
}

.web-view {
	-fx-border-radius: 14 14 14 14;
	-fx-background-radius: 14px;
}