/* Baloo Bhai font */
@font-face {
	src: url("../../font/BalooBhai/BalooBhai-Regular.ttf");
}

.root {
	-fx-background-color: white;
}

.scroll-pane {
	-fx-background-color: transparent;
    -fx-fit-to-width: true;
}

.scroll-pane > .viewport {
   	-fx-background-color: transparent;
    -fx-background-radius: 14px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-color: white;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #E5E5EB;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
}

.scroll-bar:vertical:hover .thumb {
    -fx-background-color: grey;
}

.scroll-bar:vertical:pressed .thumb {
	-fx-background-color: black;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #0C0B0B;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.anchor-pane {
	-fx-background-color: transparent;
	-fx-border-color: #0C0B0B;
	-fx-border-radius: 14px;
	-fx-border-width: 2px;
}

.label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 24;
	-fx-text-fill: #0C0B0B;
}

.title-label{
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 36;
	-fx-text-fill: #0C0B0B;
}
.button {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 24;
	-fx-text-fill: #0C0B0B;
	
	-fx-background-color: #E5E5EB;
	-fx-background-radius: 8px;
}

.button:hover {
	-fx-cursor: hand;
}