/* Baloo Bhai font */
@font-face {
	src: url("../../font/BalooBhai/BalooBhai-Regular.ttf");
}

/*Roboto font */
@font-face {
 	src: url("../../font/Roboto/Roboto-Regular.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Bold.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Light.ttf");
}


.root {
	-fx-background-color: transparent;
}
 
.label {
	-fx-text-fill: black;
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 24px;
}

.button:hover{
	-fx-cursor: hand;
}