/* Baloo Bhai font */
@font-face {
	src: url("../../font/BalooBhai/BalooBhai-Regular.ttf");
}

/*Roboto font */
@font-face {
 	src: url("../../font/Roboto/Roboto-Regular.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Bold.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Light.ttf");
}


.root {
	-fx-background-color: transparent;
}
 
.label {
	-fx-text-fill: black;
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 24px;
}

.text-area{
	-fx-background-color: white;
	-fx-border-color: #0C0B0B;
	-fx-background-radius: 14.0px;
    -fx-border-radius: 14.0px;
    -fx-font-size: 18.0;
    -fx-font-family: "Roboto";
	-fx-border-width: 2px;
	
	-fx-pref-height: 207;
	-fx-pref-width: 590;
}

.text-area .scroll-pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 14.0px;
    -fx-boreder-color: #0C0B0B;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}


.text-field-time {
	-fx-text-fill: #0C0B0B;
	-fx-border-color: white;
	-fx-border-radius: 5 0 0 5;
	
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 18px;
	-fx-text-fill: #0C0B0B;
	
	-fx-pref-width: 415;
	-fx-pref-height: 50;
}

.vbox {
	-fx-border-width: 2px;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	
	-width: 455;
	-height: 50;
	
	-fx-min-width: -width;
	-fx-min-height: -height;
	-fx-pref-width: -width;
	-fx-pref-height: -height;
	-fx-max-width: -width;
	-fx-max-height: -height;
}

.button-add {
	-fx-pref-height: 43;
	-fx-pref-width: 253;
	
	-fx-background-color: #F0F0F2;
	-fx-background-radius: 14px;
	
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 1);
}

.button:hover{
	-fx-cursor: hand;
}