/* Baloo Bhai font */
@font-face {
	src: url("../../font/BalooBhai/BalooBhai-Regular.ttf");
}

 /*Roboto font */
@font-face {
 	src: url("../../font/Roboto/Roboto-Regular.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Bold.ttf");
}
 
@font-face {
 	src: url("../../font/Roboto/Roboto-Light.ttf");
}

.root {
	-fx-background-color: #E5E5EB;
	-fx-background-radius: 14.0px;
}

.name-label {
	-fx-text-fill: #0C0B0B;
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20px;
}

.course-label {
	-fx-font-weight: normal;
	-fx-text-fill: #0C0B0B;
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 16px;
	-fx-underline: true;
}

.button {
	-fx-background-color: #0C0B0B;
	-fx-background-radius: 8px;
	
	-fx-font-family: "Roboto";
	-fx-font-weight: bold;
	-fx-font-size: 13px;
	-fx-text-fill: white;
	
	-fx-pref-width: 65;
	-fx-pref-height: 32;
}

.button:hover {
	-fx-cursor: hand;
}
