@font-face {
	src: url("../font/BalooBhai/BalooBhai-Regular.ttf");
}

 /*Roboto font */
 @font-face {
 	src: url("../font/Roboto/Roboto-Regular.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Bold.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Light.ttf");
 }

.dialog-pane {
	-fx-background-color: gray;
	-fx-pref-width: 500;
	-fx-border-radius: 100px;
	-fx-background-radius: 100px;
}

.dialog-pane > .button-bar {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-fill: #0C0B0B;
	-fx-alignment: CENTER;
}

.dialog-pane > .content.label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-alignment: CENTER;
	-fx-text-fill: #0C0B0B;
	-fx-alignment: CENTER;
}

.dialog-pane > .header-panel > .label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-alignment: CENTER;
	-fx-text-fill: #0C0B0B;
}

.alert.confirmation.dialog-pane {
	-fx-text-alignment: CENTER;
}