@font-face {
	src: url("../font/BalooBhai/BalooBhai-Regular.ttf");
}

 /*Roboto font */
 @font-face {
 	src: url("../font/Roboto/Roboto-Regular.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Bold.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Light.ttf");
 }

.dialog-pane {
	-fx-background-color: white;
	-fx-pref-width: 500;
	-fx-background-radius: 15px;
}

.dialog-pane > .button-bar {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-fill: #0C0B0B;
	-fx-alignment: CENTER;
}

.dialog-pane > .content.label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-alignment: CENTER;
	-fx-text-fill: #0C0B0B;
	-fx-alignment: CENTER;
}

.dialog-pane > .header-panel {
	-fx-background-radius: 15 15 0 0;
}

.dialog-pane > .header-panel > .label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-alignment: CENTER;
	-fx-text-fill: #0C0B0B;
}

.combo-box-base:disabled {
    -fx-opacity: 0.4;
}

.combo-box-base {
    -fx-background-color: #E5E5EB;
    -fx-background-radius: 5px;
    
    -fx-font-family: "Baloo Bhai";
    -fx-font-size: 20px;
    -fx-text-fill: #0C0B0B;
    
    -fx-pref-width: 212;
}

.combo-box-base:hover {
    -fx-cursor: hand;
	-fx-background-color: #CFCFCF;
}

.combo-box-base:showing {
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #0C0B0B;
}

.alert.confirmation.dialog-pane {
	-fx-text-alignment: CENTER;
}

.text-field {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-fill: #0C0B0B;
}

.label {
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20;
	-fx-text-fill: #0C0B0B;
}