@font-face {
	src: url("../font/BalooBhai/BalooBhai-Regular.ttf");
}

 /*Roboto font */
 @font-face {
 	src: url("../font/Roboto/Roboto-Regular.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Bold.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Light.ttf");
 }

.root {
	-fx-background-color: #E5E5EB;
	-fx-background-radius: 14px;
}

.label {
	-fx-text-fill: #0C0B0B;
	-fx-font-family: "Baloo Bhai";
	-fx-font-size: 20px;
}

.classroom-label {
	-fx-font-family: "Roboto";
	-fx-font-size: 16;
}

.time-label {
	-fx-font-size: 40px;
}


.button {
	-fx-background-color: #0C0B0B;
	-fx-background-radius: 8px;
	
	-fx-text-fill: white;
	-fx-font-family: "Roboto";
	-fx-font-weight: bold;
	-fx-font-size: 13;
	
	-width: 120;
	-height: 40;
	-fx-min-width: -width;
	-fx-min-height: -height;
	-fx-pref-width: -width;
	-fx-pref-height: -height;
	-fx-max-width: -width;
	-fx-max-height: -height;	
}

.button:hover {
	-fx-cursor: hand;
}