@font-face {
	src: url("../font/BalooBhai/BalooBhai2-Bold.ttf");
}

.label {
	-fx-font-family: "Baloo Bhai 2";
	-fx-font-weight: bold;
	-fx-font-size: 64;
	-fx-text-fill: white;
}

.button {
	-fx-background-color: white;
}

.button:hover {
	-fx-cursor: hand;
}

.home-button {
	-fx-pref-height: 26;
	-fx-pref-width: 26;
	
	-fx-shape: "M13.984 1.40837L13.9842 1.40854L24.5913 12.0152L24.5913 12.0153C24.5913 12.0153 24.5913 12.0153 24.5914 12.0153L24.5914 12.0153L24.5914 12.0154C24.5914 12.0154 24.5914 12.0154 24.5914 12.0154C24.5914 12.0154 24.5915 12.0154 24.5915 12.0154C24.5915 12.0154 24.5915 12.0155 24.5915 12.0155C25.133 12.5585 25.1326 13.4433 24.5905 13.9858C24.3254 14.2505 23.9788 14.3939 23.6052 14.3939H23.2132H22.2132V15.3939V23.1989C22.2132 24.191 21.4044 25 20.4117 25H16.5006V19.1191C16.5006 17.8621 15.4796 16.8411 14.2225 16.8411H11.7751C10.5181 16.8411 9.49707 17.8621 9.49707 19.1191V25H5.58596C4.5933 25 3.78447 24.191 3.78447 23.1989V15.3939V14.3939H2.78447H2.37322L2.358 14.3924L2.33084 14.3912C1.97974 14.3761 1.65501 14.2335 1.40693 13.9853L1.40676 13.9851C0.865416 13.4438 0.864254 12.5605 1.40423 12.0174L1.41213 12.0094L1.41583 12.0056L12.0133 1.40833L12.0133 1.40832C12.2781 1.14356 12.6248 1 12.9988 1C13.3727 1 13.7194 1.14362 13.984 1.40837ZM24.5912 12.0151C24.5912 12.0151 24.5912 12.0151 24.5912 12.0151L24.5911 12.0151C24.5912 12.0151 24.5912 12.0151 24.5912 12.0151ZM1.41749 12.0039L1.41718 12.0042L1.41749 12.0039Z";
}

.exams-button {
	-fx-pref-height: 27;
	-fx-pref-width: 30;
	
	-fx-shape: "M 15 3 A 1 1 0 0 0 14.527344 3.1191406 L 0.53710938 10.113281 L 0.53710938 10.115234 A 1 1 0 0 0 0 11 A 1 1 0 0 0 0.53710938 11.884766 L 0.53710938 11.886719 L 14.521484 18.876953 A 1 1 0 0 0 15 19 A 1 1 0 0 0 15.472656 18.880859 L 29.453125 11.890625 A 1 1 0 0 0 29.462891 11.886719 L 29.462891 11.884766 A 1 1 0 0 0 30 11 A 1 1 0 0 0 29.462891 10.115234 L 29.462891 10.113281 L 15.478516 3.1230469 A 1 1 0 0 0 15 3 z M 29 14.353516 L 27 15.353516 L 27 24.277344 C 26.404366 24.623613 26 25.261054 26 26 C 26 27.105 28 30 28 30 C 28 30 30 27.105 30 26 C 30 25.261054 29.595634 24.623613 29 24.277344 L 29 14.353516 z M 6 16.851562 L 6 21 C 6 23.761 10.029 26 15 26 C 19.971 26 24 23.761 24 21 L 24 16.851562 L 16.365234 20.669922 C 16.281234 20.711922 16.197328 20.746391 16.111328 20.775391 C 15.749328 20.924391 15.377 21 15 21 C 14.624 21 14.252578 20.924391 13.892578 20.775391 C 13.805578 20.746391 13.719766 20.710969 13.634766 20.667969 L 6 16.851562 z";
}

.profile-button {
	-fx-pref-height: 32;
	-fx-pref-width: 25.6;
	
    -fx-shape: "M6.1396 8C6.1396 4.14822 9.28782 1 13.1396 1C16.9914 1 20.1396 4.14822 20.1396 8C20.1396 11.8518 16.9914 15 13.1396 15C9.28782 15 6.1396 11.8518 6.1396 8ZM1.3396 22.8C1.3396 21.3783 2.51788 20.2 3.9396 20.2H22.3396C23.7613 20.2 24.9396 21.3783 24.9396 22.8V23.7594C24.9396 25.6597 23.73 27.4941 21.6347 28.8303C19.5491 30.1603 16.6311 31 13.1396 31C9.64815 31 6.73009 30.1603 4.64447 28.8303C2.54917 27.4941 1.3396 25.6597 1.3396 23.7594V22.8Z";
}

.forum-button {
	-fx-pref-height: 25;
	-fx-pref-width: 26;
	
    -fx-shape: "M1.33715 18.8087L1.33559 18.8079C1.1225 18.701 1 18.4965 1 18.2735V4.1625C1 2.43364 2.43358 1 4.225 1H16.575C18.3664 1 19.8 2.43364 19.8 4.1625V11.2067C19.8 12.9356 18.3664 14.3692 16.575 14.3692H8.44111H8.11976L7.85857 14.5564L1.99842 18.7564L1.9983 18.7565C1.88809 18.8355 1.75888 18.8757 1.62627 18.8757C1.52365 18.8757 1.42473 18.8528 1.33715 18.8087ZM18.1388 19.6795L17.8777 19.4923H17.5563H9.425C8.70304 19.4923 8.0341 19.2556 7.49643 18.8589L9.18714 17.65H16.575C20.1617 17.65 23.1 14.7764 23.1 11.2067V6.40404C24.2241 6.90443 25 8.01711 25 9.28557V23.399C25 23.6222 24.8774 23.8222 24.6724 23.922L24.6605 23.9278L24.6487 23.9339C24.5638 23.9781 24.469 24 24.375 24C24.2402 24 24.113 23.9606 24.0015 23.8807C24.0015 23.8807 24.0015 23.8807 24.0015 23.8807L18.1388 19.6795Z";
}

.news-button {
	-fx-pref-height: 20;
	-fx-pref-width: 26;
	
    -fx-shape: "M 7.5 6 C 5.019 6 3 8.019 3 10.5 L 3 35.5 C 3 39.084 5.916 42 9.5 42 L 38.5 42 C 42.084 42 45 39.084 45 35.5 L 45 18.5 C 45 16.19 43.244 14.302781 41 14.050781 L 41 34.5 C 41 35.328 40.328 36 39.5 36 C 38.672 36 38 35.328 38 34.5 L 38 10.5 C 38 8.019 35.981 6 33.5 6 L 7.5 6 z M 10.5 15 L 30.5 15 C 31.329 15 32 15.672 32 16.5 C 32 17.328 31.329 18 30.5 18 L 10.5 18 C 9.671 18 9 17.328 9 16.5 C 9 15.672 9.671 15 10.5 15 z M 10.5 23 L 17.5 23 C 18.329 23 19 23.672 19 24.5 L 19 31.5 C 19 32.328 18.329 33 17.5 33 L 10.5 33 C 9.671 33 9 32.328 9 31.5 L 9 24.5 C 9 23.672 9.671 23 10.5 23 z M 23.5 23 L 30.5 23 C 31.329 23 32 23.672 32 24.5 C 32 25.328 31.329 26 30.5 26 L 23.5 26 C 22.671 26 22 25.328 22 24.5 C 22 23.672 22.671 23 23.5 23 z M 12 26 L 12 30 L 16 30 L 16 26 L 12 26 z M 23.5 30 L 30.5 30 C 31.329 30 32 30.672 32 31.5 C 32 32.328 31.329 33 30.5 33 L 23.5 33 C 22.671 33 22 32.328 22 31.5 C 22 30.672 22.671 30 23.5 30 z";
}

.back-button {
	-fx-pref-height: 26;
	-fx-pref-width: 26;
	
    -fx-shape: "M 64 6.0507812 C 49.15 6.0507812 34.3 11.7 23 23 C 12 33.9 6 48.5 6 64 C 6 79.5 12 94.1 23 105 C 34.3 116.3 49.2 122 64 122 C 78.9 122 93.7 116.3 105 105 C 116 94 122 79.5 122 64 C 122 48.5 116 33.9 105 23 C 93.7 11.7 78.85 6.0507812 64 6.0507812 z M 64 12 C 77.3 12 90.600781 17.099219 100.80078 27.199219 C 110.60078 37.099219 116 50.1 116 64 C 116 77.9 110.60078 90.900781 100.80078 100.80078 C 80.500781 121.10078 47.500781 121.10078 27.300781 100.80078 C 17.400781 90.900781 12 77.9 12 64 C 12 50.1 17.399219 37.099219 27.199219 27.199219 C 37.399219 17.099219 50.7 12 64 12 z M 58.962891 46 C 58.200391 46 57.450391 46.300391 56.900391 46.900391 L 41.900391 61.900391 C 40.700391 63.100391 40.700391 64.999609 41.900391 66.099609 L 56.900391 81.099609 C 57.500391 81.699609 58.3 82 59 82 C 59.7 82 60.499609 81.699609 61.099609 81.099609 C 62.299609 79.899609 62.299609 78.000391 61.099609 76.900391 L 51.199219 67 L 82 67 C 83.7 67 85 65.7 85 64 C 85 62.3 83.7 61 82 61 L 51.199219 61 L 61.099609 51.099609 C 62.299609 49.899609 62.299609 48.000391 61.099609 46.900391 C 60.499609 46.300391 59.725391 46 58.962891 46 z";
}