@font-face {
	src: url("../font/BalooBhai/BalooBhai-Regular.ttf");
}

 /*Roboto font */
 @font-face {
 	src: url("../font/Roboto/Roboto-Regular.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Bold.ttf");
 }
 
 @font-face {
 	src: url("../font/Roboto/Roboto-Light.ttf");
 }
 
 
.button{
	-fx-background-color: #E5E5EB;
	-fx-background-radius: 14.0px;
	
	-fx-text-fill: black;
	-fx-font-family: "Baloo Bhai";
	-fx-font-weight: bold;
	-fx-font-size: 24.0;
	
	-width: 230.0;
	-height: 48.0;
	-fx-min-width: -width;
	-fx-min-height: -height;
	-fx-pref-width: -width;
	-fx-pref-height: -height;
	-fx-max-width: -width;
	-fx-max-height: -height;
}

.button:hover{
	-fx-cursor: hand;
	-fx-background-color: #CFCFCF;
}

.button:pressed{
	-fx-background-color: #FF00FF;
}

.text-area{
    -fx-background-color: #000000;
    -fx-border-color: #0C0B0B;
    -fx-background-radius: 14.0px;
    -fx-border-radius: 14.0px;
    -fx-font-size: 18.0;
    -fx-font-family: "Roboto";
    -width: 1124.0;
	-height: 207.0;
	-fx-min-width: -width;
	-fx-min-height: -height;
	-fx-pref-width: -width;
	-fx-pref-height: -height;
	-fx-max-width: -width;
	-fx-max-height: -height;
    }

.text-area .scroll-pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 14.0px;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-field {
 	-fx-border-color: #0C0B0B;
 	-fx-border-radius: 10.0px;
    -fx-background-radius: 10.0px;
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 40.0;
    -fx-pref-width: 400.0;
 	
 	-fx-font-family: "Roboto";
 	-fx-font-size: 18.0px;
 	-fx-font-weight: bold;
}

.combo-box-base:disabled {
    -fx-opacity: 0.4;
}

.combo-box-base  
{
    -fx-background-color: #E5E5EB;
    -fx-background-radius: 5.0, 5.0, 4.0, 3.0;
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 2.0;
    -fx-padding: 0.0;
}

.combo-box-base:hover
{
    -fx-cursor: hand;
	-fx-background-color: #CFCFCF;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-radius: 5.0, 5.0, 4.0, 3.0;
    -fx-border-radius: 5.0, 5.0, 4.0, 3.0;
    -fx-border-color: #0C0B0B;
    -fx-background-insets: -1.4, 0.0, 1.0, 2.0;
}
