@font-face {
	src: url("../font/BalooBhai/BalooBhai-Regular.ttf");
}
 
.button {
	/*-fx-font-family: "Baloo Bhai";*/
	-fx-font-size: 15px;
	-fx-text-fill: black;
	
	-fx-background-radius: 80px;
	-fx-background-color: #38D06B;
	
	-size: 42;
	-fx-max-width: -size;
	-fx-max-height: -size;
	-fx-pref-width: -size;
	-fx-pref-height: -size;
	-fx-min-width: -size;
	-fx-min-height: -size;
}

.button:disabled{
    -fx-opacity: 1;
}

.button:hover {
	-fx-cursor: hand;
	-fx-border-color: black;
	-fx-border-radius: 80px;
	-fx-border-width: 1.5px;
}

#free-seat {
	-fx-background-color: #38D06B;
}

#booked-seat {
	-fx-background-color: #DD2D2D;
}

#your-seat {
	-fx-background-color: #3899D0;
}
