@font-face {
	font-family: 'Roboto';
	src: url("../font/Roboto/Roboto-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
 	src: url("../font/Roboto/Roboto-Bold.ttf");
 	font-weight: bold;
}
 
@font-face {
	font-family: 'Roboto';
 	src: url("../font/Roboto/Roboto-Light.ttf");
 	font-weight: light;
}

.input {
	font-size: 18px;
	font-family: "Roboto";
	font-weight: bold;

	border-color: #0C0B0B;
 	border-radius: 31.5px;

    height: 63px;
    width: 314px;

    padding-left: 15px;
    padding-right: 15px;
}

.table {
	border-spacing: 10px;
}

.content {
	position: absolute;
    top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.logo {
	height: 129px;
	width: 132px;
	
	filter: drop-shadow(6px 6px 15px black);
}

.button {
	background-color: white;
	border: none;
	
	vertical-align: middle;
	margin-bottom: 3px;
}

.button:hover {
	cursor: pointer;
}

.login {
	background-color: #0C0B0B;
	border-radius: 31.5px;
	
	border: none;
	min-height: 63px;
	min-width: 182px;
	
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	color: #F0F0F2;
	text-align: center;
	text-decoration: none;
}

.login:hover {
	cursor: pointer;
}

.signup {
	background-color: #DFDFDF;
	border-radius: 31.5px;
	
	border: none;
	min-height: 63px;
	min-width: 319px;
	
	font-family: "Roboto";
	font-size: 18px;
	font-weight: normal;
	color: #241C1C;
	text-align: center;
	text-decoration: none;
}

.signup:hover {
	cursor: pointer;
}

.label {
	background-color: transparent;
	min-height: 10px;
	min-width: 190;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: lighter;
	color: #241C1C;
	border: none;
	
	text-decoration: underline;
}

.label:hover {
	cursor: pointer;
}