@font-face {
	font-family: 'Baloo Bhai 2';
	src: url("../font/BalooBhai/BalooBhai2-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: 'Baloo Bhai';
	src: url("BalooBhai-Regular.ttf");
	font-weight: normal;
}

html,body {
	width: auto;
}

.nav-root {
	background-color: #0C0B0B;
	border-radius: 24px;
	height: 95%;
}

.nav-logo {
    font-family: "Baloo Bhai 2";
    font-weight: bold;
    font-size: 64px;
    color: white;
	text-align: center;
}

.nav-button {
	background-color: transparent;
	border: none;
}

.nav-button:hover {
	cursor: pointer;
}

.nav-icon:hover {
	fill: white;
	cursor: pointer;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 