@font-face {
	font-family: 'Baloo Bhai';
	src: url("../font/BalooBhai/BalooBhai-Regular.ttf");
	font-weight: normal;
}

.status-label {
	font-family: "Baloo Bhai";
    font-weight: normal;
    font-size: 24px;
    color: #0C0B0B;
}

.status-avatar {
	height: 40px;
	width: 40px;
}

.status-button {
	background-color: transparent;
	border: none;
}

.status-button:hover {
	cursor: pointer;
}

/* The sidebar menu */
.topnav {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  padding-right: 5px;
}